.navbar_container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    color: whitesmoke;
}
.navbar_left{
    background-color: red;
    font-weight: 700;
    font-size: 28px;
}
.navbar_right{
    /* background-color: aqua; */
    display: flex;
    
}
.navbar_right >p{
    margin-left: 12px;
    margin-left: 12px;
    padding: 10px 12px;
    font-size: 18px;
}
.navbar_right >p:hover{
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.navbar_line >hr{
    width: 100%;
}